:root{
    --white: #FFFFFF;
    --black: #282E33;
    --shadows: #F4F4F4;

    --gold-titles: #E58201;
    --separation-lines: #3B4248;
    --emphasis-blue: #0f62fe;

    --scrollbar: #3B4248;
    --scrollbar-hover: #2F353A;

    --header-bar-heigh: 5.6rem;

    --sm: 1.4rem;
    --nm: 1.6rem;
    --md: 2rem;
    --lg: 2.4rem;
    --vl: 2.8rem;
    --gg: 3.2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.header {
    position: sticky;
    top: 0;
    z-index: 2;

    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: var(--header-bar-heigh);
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    background-color: var(--black);
}

.header figure {
    display: inline-block;
}

.header p {
    display: none;
}

.header a {
    margin-right: 2rem;
    width: 3.2rem;
    height: 3.2rem; 
}

.header img {
    width: 3.2rem;
    height: 3.2rem;
}

.mobile-menu {
    position: sticky;
    top: var(--header-bar-heigh);
    z-index: 1;

    display: grid;
    place-items: center;
    
    width: 100%;
    height: calc(100vh - 5rem);

    font-size: var(--lg);
    background-color: var(--shadows);
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;

    height: 50vh;

    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.mobile-menu li {
    margin-top: 2.4rem;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
}

.non-visible {
    display: none;
}

.navigation-menu {
    position: absolute;
    top: var(--header-bar-heigh);

    display: none;
    padding: .8rem;

    list-style: none;
    background-color: var(--white);
}

.navigation-menu li {
    margin-top: .4rem;
}

.navigation-menu img:hover {
    border: .2rem solid var(--scrollbar-hover);
    background-color: var(--shadows);
    border-radius: .8rem;
}

.navigation-menu img {
    width: 3.6rem;
    height: 3.6rem;
}

.site-content{
    position: absolute;
    top: var(--header-bar-heigh);

    padding-left: 2.4rem;
    padding-right: 2.4rem;
    display: flex;
    flex-direction: column;

    width: 100%;
}

@media (min-width:640px) {
    .header {
        grid-template-columns: auto 1fr auto;
    }
    .header p {
        display: inline-block;
        text-align: center;
        margin-left: 2rem;
        font-size: var(--lg);
        font-weight: bold;
        font-weight: 400;
        color: var(--white);
    }

    .header :last-child {
        margin-right: 1rem;
    }
    
}
@media (min-width:800px){
    .header {
        grid-template-columns: 1fr auto;
    }

    .header figure {
        display: none;
    }

    .header p {
        display: inline-block;
        text-align: start;
        font-size: var(--lg);
        font-weight: bolder;
    }

    .navigation-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .site-content {
        width: calc(100% - 10rem);
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media (min-width: 1000px) {
    body {
        max-width: 160rem;
        margin-left: auto;
        margin-right: auto;
    }
    .site-content{
        max-width: 160rem;
    }
}