.navigation-menu li:nth-child(2) img {
    border-right: .2rem solid var(--scrollbar-hover);
}

.site-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 95%;
    
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    padding: 1.6rem;
    
    background-color: var(--shadows);
    border-radius: 1.2rem;
}

.title__class {
    font-size: var(--sm);
}

.title__divider {
    border: solid .2rem var(--separation-lines);
    margin: 2rem 2rem;
    border-radius: .2rem;
}

.title__name {
    font-size: var(--nm);
    font-weight: 700;
    margin-top: 1.2rem;
}

.title__ies {
    font-size: var(--nm);
    margin-top: 1.2rem;
}

.title__duration {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 1.2rem;
    font-size: var(--nm);
}

.title__duration span {
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.title__duration__dates {
    display: flex;
    justify-self: center;
}

.title__duration__dates__data {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

.title__ico {
    display: flex;
    align-content: center;
    padding: 1.6rem;

}

.title__ico img {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    object-fit: cover;
}

@media (min-width: 640px) {
    .site-content{
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
    }

   .title{
        display: grid;
        grid-template-columns: auto 30rem;
        height: 30;
        margin-right: 1rem;
   }

}

@media (min-width:800px) {
    .site-content {
        margin-left: 5.2rem;
        margin-right: 5.2rem;
    }
}

@media (min-width:1000px) {
    
    .title {
        max-width: 100rem;
    }
    
}
