:root {
    --white: #FFFFFF;
    --black: #161616;
    --shadows: #F4F4F4;
    

    --gold-titles: #E58201;
    --separation-lines: #E0E0E0;
    --emphasis-blue: #0F62FE;

    --scrollbar: #B0B0B0;
    --scrollbar-hover: #646464;
    --sm: 1.4rem;
    --nm: 1.6rem;
    --md: 1.8rem;
    --lg: 2.2rem;
    --vl: 2.8rem;
    --gg: 3.6rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}


.header {
    position: absolute;
    top: 0;
    z-index: 2;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

    width: 100%;
    height: 5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    background-color: var(--black);
}

.header figure {
    display: inline-block;
}

.header p {
    display: inline-block;
    margin-left: 2rem;
    font-size: var(--nm);
    font-weight: 400;
    color: var(--white);
}

.header a {
    margin-right: 2rem;
}

.header img {
    width: 2.8rem;
    height: 2.8rem;
}

.mobile-menu {
    position: absolute;
    top: 0;

    display: grid;
    place-items: center;

    width: 100%;
    height: 100vh;

    font-size: var(--lg);
    background-color: var(--shadows);
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;

    height: 50vh;

    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.mobile-menu li {
    margin-top: 2.4rem;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
}

.non-visible {
    display: none;
}

.navigation-menu {
    position: absolute;
    top: 5rem;
    display: none;
    padding: .8rem;
    list-style: none;
    background-color: var(--white);
}

.navigation-menu li {
    margin-top: .4rem;
}

.navigation-menu li:nth-child(2) img {
    border-right: .2rem solid var(--scrollbar-hover);
}

.navigation-menu img {
    width: 3.6rem;
    height: 3.6rem;
}

.site-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 8rem;
}

.title {
    width: 75%;
    margin: 1.2rem;
    padding: 1.6rem;
    background-color: var(--shadows);
    border-radius: 1.2rem;

}

.title__divider {
    border: solid .2rem var(--separation-lines);
    margin: 2rem 2rem;
    border-radius: .2rem;
}

.title__name {
    font-size: var(--lg);
    font-weight: 700;
    margin-top: 1.2rem;
}

.title__ies {
    font-size: var(--md);
    font-weight: 700;
    margin-top: 1.2rem;
}

.title__description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    text-align: justify;
    font-size: var(--nm);
    margin-top: 2rem;
}

.title__duration {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 1.2rem;
    font-size: var(--md);
}

.title__duration span {
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.title__duration__dates {
    display: flex;
    justify-self: center;
}

.title__duration__dates__data {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

/* height */
::-webkit-scrollbar {
    width: .8rem;
    height: .8rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--separation-lines);
    border-radius: .4rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: .4rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}


@media (min-width: 640px) {
    .site-content {
        height: 90vh;
        padding: .4rem;

        flex-direction: row;
        align-items: baseline;

        overflow-x: scroll;
        white-space: nowrap;
    }

    .title {
        min-width: 36rem;
        max-width: 36rem;

        white-space: normal;
    }

}

@media (min-width:800px) {
    .site-content {
        margin-left: 5.2rem;
        margin-right: 5.2rem;
    }

    .header figure {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .navigation-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .title {
        width: 50rem;
    }


}