.navigation-menu li:nth-child(2) img {
    border-right: .2rem solid var(--scrollbar-hover);
}

.site-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding: 1.6rem;
    background-color: var(--shadows);
    border-radius: 1.2rem;
}

.title__divider {
    border: solid .2rem var(--separation-lines);
    margin: 2rem 2rem;
    border-radius: .2rem;
}

.title__name {
    font-size: var(--lg);
    font-weight: 700;
    margin-top: 1.2rem;
}

.title__ies {
    font-size: var(--md);
    font-weight: 700;
    margin-top: 1.2rem;
}

.title__description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    text-align: justify;
    font-size: var(--nm);
    margin-top: 2rem;
}

.title__duration {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 1.2rem;
    font-size: var(--md);
}

.title__duration span {
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.title__duration__dates {
    display: flex;
    justify-self: center;
}

.title__duration__dates__data {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

/* height */
::-webkit-scrollbar {
    width: .8rem;
    height: .8rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--separation-lines);
    border-radius: .4rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: .4rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}


@media (min-width: 640px) {
    .site-content {
        flex-direction: row;
        align-items: baseline;

        overflow-x: scroll;
        white-space: nowrap;
    }

    .title {
        min-width: 40rem;
        max-width: 40rem;
        margin-right: 1.6rem;
        white-space: normal;
    }

}

@media (min-width:800px) {
    .site-content {
        margin-left: 5.2rem;
        margin-right: 5.2rem;
    }

    .title {
        width: 50rem;
    }
}