
.navigation-menu li:nth-child(1) img {
    border-right: .2rem solid var(--scrollbar-hover);
}

.introduction {
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-content: justify;
    margin-top: 1.6rem;
}

.introduction__title {
    margin-top: 1.6rem;
    text-align: center;
    color: var(--gold-titles);
    font-weight: 400;
    font-size: var(--vl);
}

.introduction__paragraph {
    margin-top: 1.6rem;
    text-align: justify;
    font-size: var(--md);
}

.projects {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
    
    grid-gap: 1.2rem;

    margin-top: 4rem;
}

.project-links {
    display: grid;
    justify-content: space-between;

    padding: 1.2rem;
    border-radius: .4rem;
    background-color: var(--shadows);
}

.project-links__type {
    height: 2.4rem;
    margin-bottom: 1.6rem;

    font-size: var(--lg);
    font-weight: 700;
    margin-left: .4rem;
    
}

.project-links__description {    
    font-size: var(--nm);
    margin-left: .8rem;
    margin-right: .4rem;
    margin-bottom: 1.6rem;
}

.project-links__anchor {
    display: flex;
    place-items: center;
    align-items: center;

    width: 16rem;
    height: 3.6rem;
    
    padding: .4rem;
    margin-right: 1.6rem;
    margin-left: auto;

    border: solid .2rem var(--emphasis-blue);
    color: var(--emphasis-blue);

    border-radius: .2rem;
    text-decoration: none;
    font-size: var(--nm);
}

.project-links__anchor :hover {
    cursor: pointer;
}

.project-links img{
    margin-left: 1.6rem;
    width: 2rem;
    height: 1.6rem;
}

@media (min-width: 640px) {
    .introduction {
        max-width: 45rem;
        margin-left: 7rem;
    }
    
    .introduction__title {
        font-size: var(--gg);
    }

    .projects {
        place-content: center;
    }

    .project-links {
        width: 50rem;
    }
    
}

@media (min-width:800px) {
    .projects {
        display: flex;
        flex-direction: row;

        width: 90%;
        place-content: center;

        margin-left: auto;
        margin-right: auto;
    }

    .project-links {
        width: 24rem;
        height: 24rem;
    }
}

@media (min-width: 1000px) {
    .project-links {
        width: 30rem;
    }
}