.navigation-menu li:nth-child(5) img {
    border-right: .2rem solid var(--scrollbar-hover);
}

.site-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-content: center;
    align-items: center;
}

.site-content p {
    font-size: var(--lg);
    font-weight: 500;
}

.work-not-ready-icon {
    margin: 8rem auto;
}

@media (min-width: 640px) {
}

@media (min-width:800px) {
    .site-content p {
        font-size: var(--gg);
        font-weight: 700;
    }
}