.navigation-menu li:nth-child(3) img {
    border-right: .2rem solid var(--scrollbar-hover);
}

.site-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    width: 75%;
    margin: 1.2rem;
    padding: 1.6rem;
    background-color: var(--shadows);
    border-radius: 1.2rem;
}

.project__divider {
    border: solid .2rem var(--separation-lines);
    margin: 2rem 2rem;
    border-radius: .2rem;
}

.project__name {
    font-size: var(--lg);
    font-weight: 700;
    margin-top: 1.2rem;
}

.project__role {
    font-size: var(--md);
    font-weight: 700;
    margin-top: 1.2rem;
}

.project__description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    text-align: justify;
    font-size: var(--nm);
    margin-top: 2rem;
}

.project__description img {
    width: 100%;
}

.project__description p {
    margin-top: 1.2rem;
}

.project__information {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 1.2rem;
    font-size: var(--md);
}

.project__information span {
    font-weight: 700;
    margin-top: 1.2rem;
}

.project__information ul {
    margin: 1.2rem;
}

.project__information li {
    margin-left: 2.4rem;
    margin-top: 1.2rem;
}

@media (min-width:800px) {
    .header figure {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .navigation-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .site-content {
        flex-direction: row;
        align-items: baseline;

        overflow-x: scroll;
        overflow-y: scroll;
        white-space: nowrap;
    }

    .project {
        min-width: 30rem;
        max-width: 30rem;
        white-space: normal;
    }
}

@media (min-width: 1000px) {
    .project {
        min-width: 50rem;
        max-width: 50rem;
        white-space: normal;
    }
}
