.navigation-menu li:nth-child(3) img {
    border-right: .2rem solid var(--scrollbar-hover);
}

.site-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding: 1.6rem;

    background-color: var(--shadows);
    border-radius: 1.2rem;

    font-size: var(--nm);
}

.project__divider {
    border: solid .2rem var(--separation-lines);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: .2rem;
}

.project__name {
    font-weight: 700;
    font-size: var(--md);
    margin-top: 1.2rem;
}

.project__role {
    font-size: var(--sm);
    margin-top: 1.2rem;
}

.project__description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    text-align: justify;
    margin-top: 2rem;
}

.project__description img {
    width: 100%;
}

.project__description p {
    margin-top: 1.2rem;
}

.project__information {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 1.2rem;
}

.project__information span {
    font-weight: 700;
    margin-top: 1.2rem;
}

.project__information ul {
    margin: 1.2rem;
}

.project__information li {
    margin-left: 2.4rem;
    margin-top: 1.2rem;
}


@media (min-width:640px) {
    .project {
        max-width: 72rem;
    }
    .project__description {
        display: grid;
        grid-template-columns: auto 30rem;
        grid-gap: 1.2rem;
    }
}

@media (min-width:800px) {
    #divider__2 {
        display: none;
    }

    .project {
        display: grid;
        max-width: 92rem;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 30rem auto;
    }

    .project__name {
        grid-column: 1 / span 2;
        grid-row: 1;
    } 
    
    .project__role {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    
    .project__divider {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .project__description {
        grid-column: 1;
        grid-row: 4;
        display: flex;
        flex-direction: column;
    }

    .project__information {
        display: flex;
        flex-direction: column;
        grid-column: 2;
        grid-row: 4;
    }

}

@media (min-width: 1000px) {
    .project {
        max-width: 1000px;
        grid-template-columns: 50rem auto;
    }
}
